@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
a {
    text-decoration: 0;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: #fdfdfd;
}

body {
    background-color: #fdfdfd;
}


header {
    background-color:#fdfdfd;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 0 5%;
}

header li {
    display: inline-block;
    vertical-align: top;
    position: relative;
}
header li a {
    display: block;
    padding: 5px 30px;
    background-color: white;
}


.menu {
    display: flex;
    align-items: center;
}
.menu li {
    margin: 0 15px;
    list-style-type: none;
}
.menu li a {
    color: black;
    font-size: 14px;
}
.a1{
    display: flex;
    flex-direction: column;
    align-items: center;

}


header li a:hover {
    color: rgb(253, 238, 71);
}

img {
    transition: ease 0.7s all;
    border-radius: 5%;
    }

img:hover
{
    transform: scale(1.1);
}

h3
{
    text-transform: uppercase;/*le titre en gras*/
    margin-bottom: 10px;
    color: black;
    font-size: 30px;
    
}

hr
{
    width: 30%;
    border: 1px solid  rgb(93, 217, 251);
    margin-bottom: 50px;
    margin-top: 10px;
}

#presentation1
{
    height: 500px;
    background:  rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-left: 50px;
    margin-right: 50px;
    overflow: hidden;
}

.slides {
    display: flex;
}
  
.slides img {
    width: 100%;
    height: auto;
}
  
  /* Pour créer un effet de défilement automatique */
@keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
}

}
  
  /* Appliquer l'animation aux images */
.slides {
    animation: slide 10s infinite;
}

#about
{   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 80px;
}

#presentation
{   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 80px;
}

#presentation hr
{
    width: 40%;
    margin-bottom: 70px;
}
.items
{
    display: flex;
    margin-bottom: 80px;
    flex-wrap: wrap;
    width: 100%;
}
.items li
{
    width: 270px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; 
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgb(0, 0, 0);
    margin: 10px auto;
    padding-bottom: 30px;
    /* transition: ease 0.7s all; */
}

.items li:hover
{
    transition: ease 0.7s all;
    transform: scale(1.1);
    /*lorsque je survole l'element, sa taille est multipliee par 1.1*/
    /* z-index: -1; */
}

.items li img
{
    width: 200px;
    height: 200px;
}

.items li p
{
    width: 80%;
}

.items li span
{
    margin: 5px auto;
    color: rgb(7, 7, 7);
    font-family: Tangerine;
    font-size: 28px;
    font-weight: bold;
}


footer
{
    background-color: rgb(20, 3, 51);
    height: 150px;
    padding-top: 2px;
    
    
    
}

footer div
{   
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 80px;
}


footer h4
{
    color: white;
    padding: 10px;
}

footer span
{
    padding: 10px;
}


@media only screen and (max-width: 600px) {
    /* Ajoutez ici les règles CSS spécifiques aux petits écrans */
    body {
        font-size: 14px; /
    }
}

/* Media Query pour les appareils de taille moyenne (par exemple, tablettes) */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    
    header {
        height: 50px; 
    }
}

/* Media Query pour les appareils de grande taille (par exemple, ordinateurs de bureau) */
@media only screen and (min-width: 1025px) {
    
    footer {
        height: 200px; /* Par exemple, augmenter la hauteur du pied de page pour les grands écrans */
    }
}